.time-track-entry,
.time-track-form > div > fieldset,
.time-track-entry > .fieldset__wrapper {
    border: none!important;
    padding: 0!important;
    margin: 0!important;
}
.time-track-entry > .fieldset__wrapper{
  display: flex;
}
.time-track-entry .form-item{
  margin:0px;
}
.time-track-form .time-track-entry:first-child label {
  text-align: center;
}
.time-track-form .time-track-entry:not(:first-child) label,
.time-track-favorite-project-form .favorite-project-entry:not(:first-child) label {
  display: none;
}
.time-track-entry [type="submit"],
.time-track-entry [type="text"]{
  margin: 5px;
  height: 3rem;
}
.time-track-entry [type="text"]:not(.time-track-comments):not(.time-track-project){
  text-align: center;
}
.time-track-entry:first-child [type="submit"] {
  margin-top: 50px;
}
.time-track-entry [type="text"]{
  margin: 5px;
  min-height: 2rem;
}
[type="text"].time-track-project{
  width:160px;
}
[type="text"].time-track-hours{
  width:80px;
}
[type="text"].time-track-total{
  font-weight:500;
}
[type="text"].time-track-comments{
  width:220px;
}
